<section class="d-flex justify-content-center align-items-center w-100 h100 container">
  <div class=" text-center">
    <h1 class="title-login my-4 text-primary">Inicio de Sesión</h1>

    <div class="mb-3">
      <input type="email" class="form-control" pInputText placeholder="Correo electrónico" />

    </div>
    <div class="mb-3">
      <input type="password" class="form-control" pInputText placeholder="Contraseña" />
    </div>
    <div class="mb-3">
      <button class="btn-block" pButton type="button" label="Iniciar Sesión"></button>

    </div>
    <div class="mb-3">
      <a href="#">¿Olvidaste tu contraseña?</a>
    </div>
    <div class="mb-3">
      <p class="mb-0">¿Deseas una cuenta? </p>
      <p>Contactate con el administrador</p>
    </div>

    <div class="my-4">
      <img class="logo-ngr" src="../../../assets/images/logo-ngr.svg" alt="">
    </div>

    <div>
      2019 Todos los derechos reservados
    </div>
  </div>

</section>
